body {
  margin: 24px;
  padding-top: 258px;
}

.blocks {
  position: fixed;
  top: 24px;
}

.block {
  border: 5px solid purple;
  margin: 0;
  margin-right: 24px;
  margin-bottom: 24px;
  background: white;
}

.block_left {
  float: left;
}

.block_right {
  float: right;
}

.block__caption {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.block__image {
  display: block;
  width: 300px;
  height: 200px;
}

.delimeter {
  clear: both;
}
